{% extends "layout.html" %}

{% block header %}Add a task{% endblock %}
{% block body %}
            <div class="section">
                <form action="/" method="post">
                    <input type="date" id="date" name="date">
                    <input type="text" id="topic" name="topic" placeholder="task name">
                    <input type="text" id="desc" name="desc" placeholder="description">
                    <input type="submit" value="Add task">


                    <script>
                        var today = new Date().toISOString().split('T')[0];
                        document.getElementsByName("date")[0].setAttribute('min', today);
                    </script>
                </form>
            </div>

            <div class="section">

                <h2>All tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>deadline</th>
                            <th>task name</th>
                            <th>description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for disp in disp%}
                        <tr>
                            {% if disp.color == "green" %}
                            <td style="color: green;">{{ disp.message }}</td>
                            {% endif %}
                            {% if disp.color == "red" %}
                            <td style="color: red;">{{ disp.message }}</td>
                            {% endif %}
                            <td>{{ disp.topic }}</td>
                            <td>{{ disp.desc }}</td>
                            <td>
                                <form action="/done" method="post">
                                <input name="topic" type="hidden" value="{{ disp.topic }}">
                                <button type="submit">done!!</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
            <br><br><br>
            {% if session["name"] %}
            You are logged in as {{ session["name"] }}. <a href="/logout">Log out</a>.
            {% endif %}
{% endblock %}
